div.photo-card > img {
  height: 650px;
}

.stats {
  position: absolute;
  bottom: 30px;
  left: 80px;
  display: flex;
  justify-content: center;
  color: #fff;

  &-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
